/* Write some CSS below */

body {
	font-family: "Roboto", sans-serif;
	margin: 0px;
}

.banner-wrap {
	background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

.banner-wrap h1 {
	color: rgb(225, 225, 225);
	font-size: 45px;
	margin: 0;
	font-weight: bold;

}

.banner-wrap p {
	color: rgb(225, 225, 225);
	font-size: 30px;
	opacity: 0.8;
}

.btn-blue {
	background-color: #3c44b0;
	color: black;
	padding: 20px 40px;
	border-radius: 10px;
	display: inline-block;
	text-decoration: underline;
	transition: .3s;
	font-size: 20px;
	font-weight: bold;
	border: none;
	background: #1488cc
}
.btn-bluehover {
	background-color: #6367db;

}
.cards-wrap {
	width: 900px;
	margin: 60px auto;
}
.cards-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.card {
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 6px;
	padding: 24px;
	margin: 0px 20px;
}
.card img {
	width: 210px;
	height: 200px;
	align-items: center;
}

footer {
    background: #404042;
    background-color: rgb(64, 64, 66);
    color: white;
    padding: 30px 50px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.btn-creator {
	background-color: #3c44b0;
	color: black;
	padding: 20px 40px;
	border-radius: 10px;
	display: inline-block;
	text-decoration: underline;
	transition: .3s;
	font-size: 20px;
	font-weight: bold;
	border: none; 
	background: #1488cc;
}